<!-- SECTION: Hero -->
<section class="hero">
  <div class="content">
    <div class="text-group">
      <h1>Math all in one place</h1>
      <p>Sign in for personalized practice, lessons and tools to help you grow your math skills or educate your community.</p>
    </div>

    <div class="card">
      <button class="signin-btn" onclick="window.location.href='Login.html'">Subscribe!</button>
      <button class="create-account" onclick="window.location.href='Login.html'">Let me see other plans</button>
    </div>
  </div>
</section>


<!-- SECTION: Landing -->
<section class="landing">
  <div class="container">
    <!-- Left content -->
    <div class="landing-text">
      <h1>Lessons and Practice</h1>
      <h2>To help you improve</h2>
      <p>Math is a platform with a wide varity of practice tools to help you learn.</p>
      <button class="cta-btn">Get Started</button>
    </div>

    <!-- Right image -->
    <div class="landing-image">
      <img src="Vectors/undraw_verify-data_k0y1.svg" alt="Person coding illustration">
    </div>
  </div>
</section>