<!-- SECTION: Hero -->
<section class="hero">
  <div class="content">
    <div class="text-group">
      <h1>Math all in one place</h1>
      <p>Sign in for personalized practice, lessons and tools to help you grow your math skills or educate your community.</p>
    </div>

    <div class="card">
      <button class="signin-btn" onclick="window.location.href='Login.html'">Subscribe!</button>
      <button class="create-account" onclick="window.location.href='Login.html'">Let me see other plans</button>
    </div>
  </div>
</section>


<!-- SECTION: Landing -->
<section class="landing">
  <div class="container">
    <!-- Left content -->
    <div class="landing-text">
      <h1>Lessons and Practice</h1>
      <h2>To help you improve</h2>
    </div>

    <div class="subscription-content">
        <div class="subscription-box">

        </div>
        <div class="subscription-box-premium">
          
        </div>
        <div class="subscription-box">
          
        </div>
      </div>
  </div>
</section>

<!-- SECTION: Footer -->
    <footer class="footer">
  <div class="footer-top">
    <div class="footer-column">
      <h3>MathIt</h3>
      <p>
        Lorem ipsum dolor sit amet,<br>
        consectetur adipisicing elit officiis<br>
        corporis optio natus.
      </p>
    </div>

    <div class="footer-column">
      <h4>Shop</h4>
      <ul>
        <li><a href="#">Sell Courses</a></li>
        <li><a href="#">Tutoring</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Hiring</a></li>
        <li><a href="#">Payment</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Press</h4>
      <ul>
        <li><a href="#">Events</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Awards</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Online retail</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>About</h4>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
  </div>

  <hr class="divider">

  <div class="footer-links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms &amp; Conditions</a>
  </div>

  <div class="footer-bottom">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Voluptate, fuga.
      Et ex maxime eum odio quibusdam pariatur expedita explicabo harum!
      Consectetur ducimus delectus nemo, totam odit!
    </p>

    <div class="footer-socials">
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-pinterest"></i></a>
    </div>
  </div>
</footer>