* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0f0e17;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cancel{
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  background: none;          /* dark rounded background */
  color: #fff;               /* icon color */
  border: none;
  padding-top: 0.25rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.cancel:hover {
  color: #0e0e0e;
  background: #fff;
}
.login-container {
  text-align: center;
  display: flex;
  flex-direction: column;    /* stack items vertically */
  justify-content: center;   /* centers vertically inside container */
  align-items: center;       /* centers horizontally inside container */
  padding: 50px 40px;
  border-radius: 20px;
  width: 100%;
  height: 75%;
  margin-bottom: 10rem;
  max-width: 1000px;
}

.login-container img {
    width: 100px;
    height: 100px;
    margin: 0;
}

.login-container h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  color: #a7a9be;
  margin-top: 15px;
  margin-bottom: 5rem;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"],
input[type="password"] {
  background-color: #1d1b28;
  border: none;
  border: 1.5px solid transparent;
  border-radius: 15px;
  padding: 12px 15px;
  font-size: 0.95rem;
  color: #fff;
  outline: none;
  width: 400px;
  transition: background 0.3s, border ease 0.3s, transform 0.1s;
}

input::placeholder {
  color: #a7a9be;
}

input:focus {
  background-color: #1d1b2c;
  border: 1.5px solid #603BFF;
}

.password-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.password-wrapper .forgot-link{
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 10px;
}

.forgot-link {
  font-size: 0.8rem;
  color: #603BFF;
  text-decoration: none;
  margin-top: 5px;
}

.button1 {
  position: absolute;
  bottom: 7rem;
  background-color: #603BFF;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5rem;
  cursor: pointer;
  width: 500px;
  transition: transform 0.15s ease-in-out, background 0.3s;
}

.button2 {
  background-color: #ffffff;
  bottom: 3rem;
  color: rgb(11, 11, 16);
  width: 500px;
  position: absolute;
  border: none;
  border-radius: 30px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5rem;
  cursor: pointer;
  transition: transform 0.15s ease-in-out, background 0.3s;
}

.button1:hover {
  transform: scale(1.05);
}

.button2:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 480px) {
  .login-container {
    width: 90%;
    padding: 40px 25px;
  }

  .login-container img {
    display: none;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

  input[type="text"],
  input[type="password"] {
    width: 100%;
  }

  .button1 {
    width: 90%;
  }

  .button2 {
    width: 90%;
  } 
}
