
:root {
  --primary: #603BFF;
  --secondary: #886dff;

  --bg: #f3f3f3;
  --bg-header: #ffffff;
  --bg-outline: #ececec;
  --bg-footer: rgb(4, 4, 9);
  
  --text-white: #ffffff;
  --text-secondary: #b6b5c1;
  --text-dark: #0c0c12;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  height: 100vh;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--bg);
  font-family: "Inter", sans-serif;
  }

  /* Navagation Bar */
nav {
  position: sticky;
  top: 0;
  background: var(--bg-header);
  backdrop-filter: blur(20px);      /* the actual blur effect */
  -webkit-backdrop-filter: blur(20px); /* Safari support */
  color: #fff;
  display: flex;
  height: 80px;
  padding-left: 1rem;
  border-bottom: 1px solid var(--bg-outline);
  padding-right: 0rem;
  align-items: center;
  z-index: 100;
}


/* Left */
.nav-left {
    position: relative;
    left: 5%;
    transform: none;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* On smaller screens: move to the left */
@media (max-width: 768px) {
    .nav-left {
        position: relative;
        left: 0;
        transform: none;
        justify-content: flex-start;
    }
}

.nav-left a {
    color: #fff;
    text-decoration: none;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    margin: 0;
    transition: color 0.3s ease;
}

.nav-left a:hover {
    color: var(--primary);
}

.nav-left img {
    width: 50px;
    height: 50px;
    margin: 0;
    color: #0c0c12;
}

/* Center */
.nav-center {
    position: absolute;
    left: 15rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-center a {
    color: var(--text-secondary);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    text-align: center;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 7px;
}

.nav-center a i{
    font-size: 16px;
    margin-top: 4px;
}

.nav-center a h1{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

.nav-center a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--text-dark);
    transition: width 0.3s ease;
}

.nav-center a:hover {
    color: var(--text-dark);
}

.nav-center a.active {
    color: var(--text-dark);
}

.gradient-text {
  background: linear-gradient(90deg, #9980ff, #8271ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (max-width: 1200px) {
    .nav-center {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-buttons {
        display: none;
    }
}

.nav-icons {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 0.5rem;
  height: 40px;
  gap: 1rem;
  position: absolute;
  border-radius: 50px;
  right: 0.5rem;
}

.nav-icons button {
  background: none;          /* dark rounded background */
  color: var(--text-dark);               /* icon color */
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease, background 0.3s ease;
  background: transparent;
  padding-top: 0.25rem;
  
  width: 40px;               /* make it square */
  height: 40px;
  border-radius: 50%;        /* makes it a circle */
              /* center the icon */
  align-items: center;
  justify-content: center;
}

.nav-icons button:hover {
  color: var(--text-white); 
  background: var(--text-dark);
}

        header {
    position: relative;
    min-height: 20vh; /* taller for more scroll space */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    overflow: hidden;
    background: radial-gradient(
        circle at top left,
        rgba(255, 203, 154, 0.8) 0%,
        rgba(255, 66, 246, 0.6) 25%,
        rgba(162, 0, 255, 0.9) 65%,
        rgba(2, 0, 36, 1) 100%
    );
}


/* -------------------- MOBILE MENU -------------------- */

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    margin-right: 1rem;
}

@media (max-width: 1200px) {
    .mobile-menu-btn {
        display: block;
        position: absolute;
        right: 70px;
    }
    .nav-center {
        display: none;
    }
}

/* Slide-out Menu Panel */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -80%;
    width: 70%;
    height: 100vh;
    background: var(--bg-header);
    z-index: 2000;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: right 0.3s ease-in-out;
    border-left: 1px solid var(--bg-outline);
    box-shadow: -5px 0 30px rgba(0,0,0,0.3);
}

.mobile-menu.show {
    right: 0;
}

.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.mobile-menu-header img {
    width: 50px;
}

.mobile-menu h2{
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    border-top: 1px solid var(--bg-outline);
    padding-top: 10px;
}

.mobile-menu a {
    color: var(--text-main);
    text-decoration: none;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.mobile-menu a i{
    font-size: 16px;
    margin-top: 4px;
}

.mobile-menu a h1{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

.mobile-menu a:hover {
    color: var(--primary);
}

.mobile-menu a.active {
    color: var(--primary);
    border: none;
    border-radius: 30px;
}

/* Close button */
.close-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}

/* Backdrop */
.mobile-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0);
    backdrop-filter: blur(0px);
    transition: all 0.3s ease;
    z-index: 1500;
    display: none;
}

.mobile-backdrop.show {
    display: block;
    background: rgba(0,0,0,0);
}

@media (min-width: 900px) {

  .mobile-menu {
    width: 20%;
  }
}
